.DS_Store
AI4Science.code-workspace
from-ivan/gradient_descent_vs_gradient_flows.ipynb
from-ivan/langevin_augusto_example.ipynb
from-ivan/sampling/Gaussian_Gradient_Flows.ipynb
from-ivan/sampling/langevin-dynamics/Gaussian_ULA_convergence.ipynb
from-ivan/sampling/langevin-dynamics/langevin_2d.ipynb
from-ivan/sampling/langevin-dynamics/langevin.ipynb
from-ivan/sampling/langevin-dynamics/old_langevin.ipynb
from-ivan/sampling/langevin-dynamics/convergence/bounds.py
from-ivan/sampling/langevin-dynamics/convergence/convergence_of_langevin.ipynb
from-ivan/sampling/langevin-dynamics/convergence/gaussians_convergence_1d.ipynb
from-ivan/sampling/langevin-dynamics/convergence/gaussians_onechain_augustos_example.ipynb
from-ivan/sampling/langevin-dynamics/convergence/__pycache__/bounds.cpython-310.pyc
from-ivan/sampling/langevin-dynamics/score_models/__init__.py
from-ivan/sampling/langevin-dynamics/score_models/training.py
from-ivan/sampling/langevin-dynamics/score_models/__pycache__/training.cpython-311.pyc
from-ivan/sampling/langevin-dynamics/score_models/losses/__init__.py
from-ivan/sampling/langevin-dynamics/score_models/losses/diffusion.py
from-ivan/sampling/langevin-dynamics/score_models/losses/gradient_descent_vs_gradient_flows.ipynb
from-ivan/sampling/langevin-dynamics/score_models/losses/__pycache__/__init__.cpython-311.pyc
from-ivan/sampling/langevin-dynamics/score_models/losses/__pycache__/diffusion.cpython-311.pyc
from-ivan/sampling/langevin-dynamics/score_models/models/feedforward.py
from-ivan/sampling/langevin-dynamics/score_models/models/gaussian.py
from-ivan/sampling/langevin-dynamics/score_models/models/sampler.py
from-ivan/sampling/langevin-dynamics/score_models/models/__pycache__/__init__.cpython-311.pyc
from-ivan/sampling/langevin-dynamics/score_models/models/__pycache__/feedforward.cpython-311.pyc
from-ivan/sampling/langevin-dynamics/score_models/models/__pycache__/gaussian.cpython-311.pyc
from-ivan/sampling/langevin-dynamics/score_models/models/__pycache__/sampler.cpython-311.pyc
from-ivan/sampling/langevin-dynamics/score_models/models/rid/__init__.py
